@import "src/styles/variables.scss";
@import "src/styles/mixins.scss";

.keypad-button {
  width: 100%;
  height: 100%;
  border: 2px solid $backgroundPrimaryColor;
  font-size: 2rem;
  background-color: $backgroundSecondaryColor;
  color: $typographyPrimaryColor;
  border-radius: 5px;

  &:active {
    @include buttonOnClick;
  }
}

.operator-button {
  color: $typographySecondaryColor;
}
