@import "src/styles/variables.scss";

.display-panel {
  height: 100%;
  font-size: 2rem;
  border: none;
  background-color: $backgroundPrimaryColor;
  color: #fff;
  text-align: right;
  padding-right: 5px;

  input {
    width: 100%;
    box-sizing: border-box;
  }
}
